/* Write your own custom classes and other styles here */

.hero {
    color: white;
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(36, 36, 36, 0.5), rgba(36, 36, 36, 0.5)),
        url("../src/img/conscious-design-x-FzujEjWD0-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 4rem;
}
.hero h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 2rem 0;
}
.hero h3 {
    font-weight: 200;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-md-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}

/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    color: hsl(260, 50%, 40%);
    font-weight: 300;
    line-height: 1;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
